.wrapper {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin: 2em 1em 0 1em;
}
.name {
  background-color: #f2f2f2;
  border-radius: 5px;
  margin-right: 2em;
  padding: 1em;
  width: 32em;
}
.name > p {
  font-size: 1.1em;
}
.history {
  flex-grow: 2;
  background-color: #f2f2f2;
  border-radius: 5px;
}
.history > h2 {
  margin: 0.5em 0 0 1em;
}
.history > ul {
  font-size: 1.1em;
}
