.header {
  align-items: center;
  background-color: #eeeeee;
  display: flex;
  height: 8vh;
  justify-content: space-between;
  position: absolute;
  width: 100vw;
}
.header > .home_icon {
  margin: 0 0 0 0.5vw;
}
.header > .home_icon > a {
  color: #222222;
  font-size: 2em;
  text-decoration: none;
}
.header_nav {
  display: flex;
  padding-top: 3vh;
}
.header_nav > li {
  list-style: none;
  margin-right: 1em;
}
.header_nav a {
  color: #222222;
  text-decoration: none;
}
